# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# User logs and scratch files
.system_generated/
*.log
